body {
	background-color: gold;
	text-align: center;
	user-select: none;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10vh;
	font-weight: bold;
	cursor: default;
	transition: font-size ease-in-out 0.1s 0.15s;

	&:hover {
		font-size: 12vh;
	}
}
